vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 May 2020 06:37:30 -0000
vti_author:SR|KIKUKAWA6\\curio302
vti_modifiedby:SR|TOIRO0\\Toiro
vti_nexttolasttimemodified:TW|02 May 2020 06:36:30 -0000
vti_timecreated:TR|20 Feb 2019 11:47:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncofs_users696.lolipop.jp\:21/curio:TW|01 Mar 2022 01:22:19 -0000
vti_syncwith_users696.lolipop.jp\:21/curio:TX|02 May 2020 06:37:30 -0000
vti_backlinkinfo:VX|
vti_syncwith_ftp.lolipop.jp\:21/curio:TX|02 May 2020 06:37:29 -0000
vti_syncofs_ftp.lolipop.jp\:21/curio:TW|02 May 2020 06:39:19 -0000
vti_cacheddtm:TX|02 May 2020 06:37:30 -0000
vti_filesize:IR|15569
vti_cachedlinkinfo:VX|Q|reset.css Q|responsive.gs.12col.css S|../../images/header_sp.jpg S|../../images/list01.gif S|../../images/list02.gif S|../../images/icon.jpg S|../../images/q.jpg S|../../images/a.jpg
vti_cachedsvcrellinks:VX|FQUS|memberpage/css/reset.css FQUS|memberpage/css/responsive.gs.12col.css FSUS|images/header_sp.jpg FSUS|images/list01.gif FSUS|images/list02.gif FSUS|images/icon.jpg FSUS|images/q.jpg FSUS|images/a.jpg
