vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Feb 2019 11:47:30 -0000
vti_author:SR|KIKUKAWA6\\curio302
vti_modifiedby:SR|TOIRO0\\Toiro
vti_nexttolasttimemodified:TW|22 Jan 2020 04:02:16 -0000
vti_timecreated:TR|20 Feb 2019 11:47:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncofs_users696.lolipop.jp\:21/curio:TW|01 Mar 2022 01:21:41 -0000
vti_syncwith_users696.lolipop.jp\:21/curio:TX|20 Feb 2019 11:47:30 -0000
vti_cacheddtm:TX|20 Feb 2019 11:47:30 -0000
vti_filesize:IR|2442
vti_cachedlinkinfo:VX|S|/scripts/boxsizing.htc
vti_cachedsvcrellinks:VX|NSUS|/scripts/boxsizing.htc
