vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Mar 2024 14:23:04 -0000
vti_author:SR|KIKUKAWA6\\curio302
vti_modifiedby:SR|TOIRO-HOST\\Toiro1
vti_nexttolasttimemodified:TW|30 Mar 2024 14:21:47 -0000
vti_timecreated:TR|20 Feb 2019 11:47:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|services.html course.html course_mos.html course_ouyo.html faq.html flow.html koe.html course_kiso.html course_pkatsuyo.html course_web.html mos.html otoiawase.html course_nyumon.html index.html link.html memberpage/index_copy(1).html index5gatsu.html system.html
vti_syncofs_users696.lolipop.jp\:21/curio:TW|30 Mar 2024 14:23:18 -0000
vti_syncwith_users696.lolipop.jp\:21/curio:TX|30 Mar 2024 14:23:04 -0000
vti_cacheddtm:TX|30 Mar 2024 14:23:04 -0000
vti_filesize:IR|15545
vti_cachedlinkinfo:VX|Q|reset.css Q|responsive.gs.12col.css S|../images/header_sp.jpg S|../images/list01.gif S|../images/list02.gif S|../images/icon.jpg S|../images/q.jpg S|../images/a.jpg
vti_cachedsvcrellinks:VX|FQUS|css/reset.css FQUS|css/responsive.gs.12col.css FSUS|images/header_sp.jpg FSUS|images/list01.gif FSUS|images/list02.gif FSUS|images/icon.jpg FSUS|images/q.jpg FSUS|images/a.jpg
